
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Welcome @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name: "guest")</h1>
            <br />
        }


    </p>
    
</div>
